<div class="udb3-user-agreement">
    <h1>Gebruikersovereenkomst</h1>

    <p>Deze gebruikersovereenkomst bevat de standaardvoorwaarden inzake het gebruik van het Inschrijvingssysteem en
        bevat de stipulaties aangaande het privacybeleid van de gestelde Beheerder. Door gebruik te maken van de Site
        verbindt de gebruiker zich ertoe alle bepalingen te kennen en te zullen naleven.</p>

    <p>In deze gebruikersovereenkomst zullen de volgende definities hiernavolgende betekenis hebben:</p>

    <p>a. Beheerder: CultuurNet Vlaanderen vzw met maatschappelijke zetel te Brussel, Sint-Gisleinsstraat 62 <br>
        b. E-mailadres: info@cultuurnet.be <br>
        c. Inschrijvingssysteem: het informatiesysteem waarin het aanbod wordt beheerd binnen het domein waarvoor de
        gestelde Beheerder verantwoordelijk is. In dit geval cultuur- en vrijetijdsaanbod. <br>
        d. Site: https://uitdatabank.be</p>

    <h2>1. Privacybeleid van de Beheerder</h2>

    <h4>1.1.1.</h4>

    <p>De verwerking van de persoonsgegevens met betrekking tot het Inschrijvingssysteem zijn onderworpen aan de wet van
        8 december 1992 tot bescherming van de persoonlijke levenssfeer (ten opzichte van de verwerking van
        persoonsgegevens).</p>

    <h4>1.1.2.</h4>

    <p>Deze Privacyverklaring hoort samen met de andere Gebruiksvoorwaarden en geeft gedetailleerde informatie over de
        manier waarop we uw persoonsgegevens verwerken bij een bezoek aan de Site.</p>

    <h4>1.1.3.</h4>

    <p>Wie gebruik maakt van de Site, aanvaardt de bepalingen van deze privacyverklaring. Als u niet akkoord gaat met
        een of meerdere bepalingen, vragen wij u vriendelijk de Site te verlaten en contact met ons op te nemen via het
        E-mailadres om uw bezorgdheden te bespreken.</p>

    <h3>1.2. Wat doen wij met uw informatie?</h3>

    <p>Bij algemeen gebruik van onze website houden wij een beperkt aantal bezoekersdata bij (zie punt 1.3.1) met het
        oog op een optimale dienstverlening. In geen geval worden data doorgegeven aan derden.</p>

    <h3>1.3. Wanneer verwerken of gebruiken wij welke persoonsgegevens?</h3>

    <h4>1.3.1.</h4>

    <p>De volgende gegevens worden bij uw bezoek aan onze website opgeslagen:</p>

    <ul>
        <li>uw IP-adres</li>
        <li>de zoekmachine of andere website langs waar u terecht kwam bij de Site</li>
        <li>de pagina's die u op onze Site bezoekt</li>
        <li>datum, tijdstip en duur van het bezoek aan de Site</li>
        <li>de http-antwoordcode</li>
        <li>alle informatie die u ons vrijwillig verstrekt</li>
        <li>basisinformatie over uw browser en uw besturingssysteem</li>
    </ul>

    <h4>1.3.2.</h4>

    <p>Indien u zich registreert voor onze nieuwsbrief worden ook verschillende persoonsgegevens opgevraagd (zoals
        e-mailadres, voornaam, naam en provincie). Wij hebben deze informatie nodig om u gepersonaliseerde informatie te
        sturen. Uitschrijven is steeds mogelijk volgens de eenvoudige instructies die vermeld staan in de
        nieuwsbrieven.</p>

    <h4>1.3.3.</h4>

    <p>Bij de uitbouw van onze dienstverlening werken wij samen met onderaannemers (bijvoorbeeld hosting providers voor
        de Site). Deze bedrijven zijn gevestigd binnen de Europese Economische Ruimte en zijn er contractueel toe
        verbonden het privacybeleid van de Beheerder strikt te respecteren. Zij handelen enkel op instructie van de
        Beheerder en nemen de nodige maatregelen om persoonsgegevens adequaat te beschermen.</p>

    <h3>1.4. Kan ik me verzetten tegen het opslaan van mijn gegevens?</h3>

    <h4>1.4.1.</h4>

    <p>U heeft het recht om kosteloos informatie te vragen over de verwerking van uw persoonsgegevens. Op grond van de
        Privacywet heeft u eveneens het recht om deze persoonsgegevens te laten wijzigen indien ze onjuist zijn.
        Daarnaast kunt u uw persoonsgegevens laten verwijderen of het gebruik ervan verbieden indien ze onvolledig of
        niet ter zake dienend zijn.</p>

    <h4>1.4.2.</h4>

    <p>Om deze rechten uit te oefenen, kunt u ons altijd contacteren via het E-mailadres.</p>

    <h3>1.5. Wat zijn cookies en hoe worden ze gebruikt?</h3>

    <p>Op onze website maken wij gebruik van zogenaamde cookies. Een cookie is een kleine file die door de
        website-eigenaar naar de harde schijf van de website-bezoeker wordt gestuurd en daar wordt opgeslagen. Hiermee
        wordt het adres van de bezochte site vastgelegd samen met enkele gegevens over het bezoek die ons toelaten om
        een aantal anonieme statistieken bij te houden. Voor verdere informatie omtrent het gebruik van cookies,
        verwijzen wij graag naar onze Cookieverklaring (zie Punt 4).</p>

    <h3>1.6. Links naar andere websites</h3>

    <h4>1.6.1.</h4>

    <p>Verschillende pagina's van de Site bevatten links naar andere websites. De in dit document opgenomen richtlijnen
        over gegevensbescherming gelden enkel voor de Site. Wij raden u aan de bepalingen over gegevensbescherming op de
        andere sites te bekijken.</p>

    <h4>1.6.2.</h4>

    <p>Wij zijn niet verantwoordelijk voor de inhoud van de websites waarnaar u via links op onze website wordt
        doorverwezen.</p>

    <h3>1.7. Wijzigingen</h3>

    <h4>1.7.1.</h4>

    <p>De Beheerder behoudt zich steeds het recht voor om deze Privacyverklaring te wijzigen. Gelieve daarom zelf
        regelmatig de laatste versie van dit document te raadplegen. Bent u het oneens met een wijziging in de
        Privacyverklaring, dan heeft u steeds de mogelijkheid om uw account stop te zetten.</p>

    <h4>1.7.2.</h4>

    <p>Deze Privacyverklaring werd het laatst gewijzigd en herzien op 30/03/2015.</p>

    <h3>1.8. Heeft u nog andere vragen?</h3>

    <p>Mocht u nog andere vragen hebben over het gebruik en de verwerking van uw persoonsgegevens, dan kan u zich wenden
        tot onze verantwoordelijke voor gegevensbescherming via het E-mailadres.</p>

    <h2>2. Gebruikersvoorwaarden</h2>

    <h3>2.1. Voorwaarden voor het opnemen van gegevens in de Databank</h3>

    <h4>2.1.2. Toestemming publiek gebruik</h4>

    <p>De ingevoerde gegevens zullen publiek ter beschikking worden gesteld voor raadpleging, download en referentie in
        het Inschrijvingssysteem. Tevens kunnen de ingevoerde gegevens verspreid worden via publicatiekanalen van derden
        verbonden met het Inschrijvingssysteem.</p>

    <h4>2.1.2. Vrijwaring</h4>

    <p>De gebruiker die op het Inschrijvingssysteem gegevens invoert, moet de intellectuele rechten (waaronder de
        auteursrechten, naburige rechten, databankrecht, merkenrecht, tekeningen- en modellenrecht) en de rechten van
        derden (onder meer het recht op de eerbiediging en bescherming van de persoonlijke levenssfeer, het
        portretrecht, laster en eerroof) respecteren. Door de invoering van de gegevens erkent de invoerder dat hij/zij
        volledig aansprakelijk is voor de inhoud ervan en voor de wettelijkheid van de invoer van de inhoud.</p>

    <p>Elke schadeclaim met betrekking tot de aangeleverde gegevens - onder meer ten gevolge van niet correcte of
        foutieve gegevens of inbreuk op rechten van derden (o.a. laster en eerroof) of inbreuk op de openbare orde of
        goede zeden zal door de Beheerder verhaald worden op degene die de gegevens invoerde.</p>

    <p>In geval van invoer van portretten (bv. in foto's en illustraties) waarborgt de invoerder dat zij/hij de nodige
        door de wet vereiste toestemmingen tot publicatie van deze portretten heeft verkregen.
        In geval van invoer van persoonsgegevens waarborgt de invoerder de Beheerder dat zij/hij de toestemming heeft
        van de betrokkene(n) om diens persoonsgegevens in te voeren in het Inschrijvingssysteem en te laten gebruiken
        zonder beperkingen.</p>

    <h4>2.1.3. Publicatiebeleid de Beheerder</h4>

    <p>De Beheerder behoudt zich het recht voor om de ingevoerde gegevens naar eigen inzichten al dan niet te
        publiceren. De Beheerder behoudt zich tevens het recht voor om de inhoud, de afkomst of de bestemming van de
        gegevens die worden ingevoerd, te onderzoeken. In geval van illegale inhoud zal de Beheerder onverwijld overgaan
        tot de verwijdering ervan en de nodige opvolging bij de bevoegde autoriteiten.</p>

    <h3>2.2. Exoneratie</h3>

    <h4>2.2.1. Algemeen</h4>

    <p>a) Incorrecte of foutieve gegevens
        De Beheerder doet zijn uiterste best om correcte gegevens te verzamelen en publiceren. Hierbij is de Beheerder
        echter overgeleverd aan de kwantiteit en de kwaliteit van de ingevoerde gegevens. De Beheerder kan daarom niet
        aansprakelijk worden gesteld voor onvolledige, incorrecte of foutieve gegevens in het Inschrijvingssysteem. Deze
        geven dan ook geen recht op compensatie. De Beheerder kan niet verantwoordelijk gesteld worden t.a.v. gebruikers
        of derden voor mogelijk geleden directe, indirecte of incidentele schade, winstderving of voor eender welke
        schade veroorzaakt door haar nalatigheid of vergetelheid in het verschaffen, compileren, monteren, schrijven en
        interpreteren van gegevens. <br>
        b) Gebrekkige werking van het systeem
        De Beheerder biedt het Inschrijvingssysteem aan 'zoals het is'. De Beheerder kan niet aansprakelijk worden
        gesteld voor het (tijdelijk) uitvallen of eventueel disfunctioneren van het systeem. <br>
        c) Links naar websites beheerd door derden
        Het Inschrijvingssysteem bevat links naar websites die beheerd worden door derden. De Beheerder oefent geen
        enkele controle uit over de inhoud van de websites waarnaar gelinkt wordt en aanvaardt geen enkele
        aansprakelijkheid met betrekking tot de inhoud ervan.
        Indien de Beheerder een klacht ontvangt met betrekking tot het ongeoorloofd karakter van een link, zal de
        Beheerder alles in het werk stellen om de vermeende ongeoorloofde link zo snel mogelijk te verwijderen.</p>

    <h4>2.2.2. Klachten</h4>

    <p>De Beheerder legt de grootste zorg aan de dag voor een kwaliteitsvol Inschrijvingssysteem. Klachten betreffende
        de inhoud van de gegevens in het Inschrijvingssysteem moeten per aangetekende brief worden verzonden de
        Beheerder.</p>

    <h2>3. Gemeenschappelijke bepalingen</h2>

    <h3>3.1. Geschillen</h3>

    <p>Het Belgisch recht is van toepassing op geschillen inzake de naleving van de bepalingen van deze
        gebruiksovereenkomst. De rechtbanken van Brussel zijn bevoegd.</p>

    <h3>3.2. Wijzigingen aan de gebruikersovereenkomst</h3>

    <p>De Beheerder behoudt zich het recht voor op elk ogenblik deze gebruikersovereenkomst te wijzigen. De geamendeerde
        gebruikersovereenkomst zal bekend gemaakt worden in het Inschrijvingssysteem en zal automatisch van kracht
        worden dertig dagen na de initiële bekendmaking in het Inschrijvingssysteem.</p>

    <h2>4. Cookieverklaring</h2>

    <h3>4.1. Algemeen</h3>

    <h4>4.1.1.</h4>

    <p>Deze Cookieverklaring is van toepassing op de Site</p>

    <h4>4.1.2.</h4>

    <p>Dit document legt uit welke “cookies” worden gebruikt op de website. Komt u voor het eerst op deze Site, dan
        verschijnt een kort statement met een toets waarmee u kunt aangeven of u cookies al dan niet accepteert. Klikt u
        de toets “Ik ga akkoord” aan, dan aanvaardt u het gebruik van cookies zoals hieronder in detail beschreven.
        Indien u niet akkoord kan gaan met onze Cookieverklaring, vragen wij u onze website niet langer te
        gebruiken.</p>

    <h4>4.1.3.</h4>

    <p>Deze Cookieverklaring maakt onderdeel uit van een ruimer beleid van de Beheerder inzake Gebruiksvoorwaarden en
        Privacy.</p>

    <h3>4.2. Wat zijn cookies?</h3>

    <p>Cookies zijn kleine informatiebestanden die door de server van een website via de browser tijdelijk of permanent
        op uw computer of toestel worden opgeslagen. De cookies bevatten een unieke code die toelaat om uw browser te
        herkennen tijdens uw bezoek aan die website (dit is een 'session' cookie) of ook tijdens latere bezoeken (dit is
        een 'permanent' cookie). Dankzij cookies kunnen we het gebruik van de website vereenvoudigen, vervolledigen en
        personaliseren.</p>

    <h3>4.3. Gebruik van cookies op de website</h3>

    <p>De website gebruikt verschillende soorten cookies.</p>

    <h4>4.3.1. Noodzakelijke cookies</h4>

    <p>Deze cookies zijn onmisbaar om de website te bezoeken en om bepaalde onderdelen te kunnen gebruiken. Deze cookies
        laten u bijvoorbeeld toe om te navigeren tussen de verschillende onderdelen van de website, of om formulieren in
        te vullen. Indien u deze cookies weigert, zullen bepaalde onderdelen van de website niet of niet optimaal
        werken.</p>

    <h4>4.3.2. Functionele cookies</h4>

    <p>Functionele cookies zorgen ervoor dat de website makkelijker en aangenamer kan worden bezocht. Ook maken zij een
        meer gepersonaliseerde surfervaring mogelijk. Het zijn bijvoorbeeld cookies die uw taalvoorkeur onthouden of
        cookies die bijhouden of u al gevraagd werd om deel te nemen aan een enquête zodat u niet telkens opnieuw
        dezelfde enquête wordt voorgelegd.</p>

    <h4>4.3.3. Performantiecookies</h4>

    <p>Deze cookies hebben tot doel om informatie te verzamelen over de manier waarop bezoekers de website gebruiken,
        zoals informatie aangaande de bezochte pagina’s of het aantal weergegeven foutmeldingen. Op die manier kunnen
        wij het gebruik van de website analyseren en optimaliseren.</p>

    <h4>4.3.4. Sessie cookies</h4>

    <p>Deze cookies onthouden dat u op een pagina van onze website bent geweest, zodat u tijdens één sessie niet telkens
        als nieuwe bezoeker wordt beschouwd bij het doorklikken naar een nieuwe pagina.</p>

    <h4>4.3.5. Profiling cookies en third party cookies</h4>

    <p>Wij maken gebruik van diensten van Facebook (meer bepaald posten van events) en Google (in het bijzonder Google
        Analytics). Om deze diensten mogelijk te maken, kunnen deze spelers zogenaamde third party cookies plaatsen op
        onze website.</p>

    <h3>4.4. Beheer van cookies</h3>

    <p>Via uw browserinstellingen kunt u de installatie van cookies weigeren. U kunt ook op elk moment de reeds
        geïnstalleerde cookies verwijderen van uw computer of mobiel apparaat. Ga hiervoor naar het menu 'Instellingen'
        of 'Opties' van je browser en duidt in het tabblad 'Privacy' de juiste instellingen aan voor het gebruik van
        cookies.</p>

    <h3>4.5. Wijzigingen</h3>

    <p>De Beheerder behoudt zich het recht voor om deze Cookieverklaring te wijzigen. Gelieve daarom steeds na te gaan
        of u de laatste versie van de Cookieverklaring hebt doorgelezen. Deze Cookieverklaring werd het laatst gewijzigd
        en herzien op 30/03/2015.</p>

    <h2>5. Lexicon</h2>

    <p>De onderstaande termen hebben in dit contract de volgende betekenis :</p>

    <p><strong>“auteursrechten”</strong>: de wet van 30 juni 1994 betreffende het auteursrecht en naburige rechten
        verleent exclusieve (vermogens- en morele) rechten aan de auteur van een werk mits het werk voldoet aan concrete
        en originele vormgeving (bv. een gedicht, een lied, een afbeelding). <br>
        <strong>“Cookies”</strong>: een "cookie" is een klein stuk informatie dat opgeslagen wordt op uw computer. Deze
        cookie kan opgehaald worden tijdens een later bezoek aan dezelfde site. Een cookie kan niet gelezen worden door
        een andere website dan diegene die het heeft aangemaakt. <br>
        <strong>“de Inschrijvingssysteemgegevens”</strong>: gegevens m.b.t. tijdelijk aanbod, gegevens m.b.t. permanent
        aanbod, productiegegevens, persoons- en organisatiegegevens, gegevens m.b.t. linken die in het
        Inschrijvingssysteem zijn opgenomen en ingevoerd zijn door andere partners of decentrale invoerders van
        partners. <br>
        <strong>“databank”</strong>: een verzameling van werken, gegevens of andere zelfstandige elementen, die
        systematisch of methodisch geordend en afzonderlijk met elektronische middelen of anderszins toegankelijk zijn.
        <br>
        <strong>“databankstructuur”</strong>: de vorm/structuur van een databank. <br>
        <strong>“exoneratie”</strong>: exoneratie betekent dat men geen aansprakelijkheid aanvaardt. <br>
        <strong>“gegevens”</strong>: de term 'gegevens' overkoepelt drie verschillende subcategorieën van gegevens:
        a) feitelijke gegevens waarop geen rechten rusten; deze gegevens zijn vrij;
        b) persoonsgegevens (iedere informatie betreffende een geïdentificeerde of identificeerbare natuurlijke persoon)
        waarop privacyrechten rusten;
        c) beschermde gegevens: gegevens waarop intellectuele (eigendoms)rechten rusten (bv. teksten, afbeeldingen;
        grafische elementen, muziekfragmenten,...) <br>
        <strong>“gegevensbestanden”</strong>: een in kwalitatief of kwantitatief opzicht substantieel deel van de inhoud
        van een databank. <br>
        <strong>“hergebruik”</strong>: elke vorm van het aan het publiek ter beschikking stellen van de inhoud van een
        databank of een substantieel deel ervan, door verspreiding van kopieën, verhuur, online transmissie of in andere
        vorm (Wet van 31 augustus 1998 houdende omzetting in Belgisch recht van de Europese richtlijn van 11 maart 1996
        betreffende de rechtsbescherming van databanken). <br>
        <strong>“informatiesysteem”</strong>: Een informatiesysteem is een systeem waarmee informatie over objecten of
        personen beheerd - verzameld, bewerkt, geanalyseerd, geïntegreerd en gepresenteerd - kan worden. <br>
        <strong>“licentie”</strong>: in licentie geven betekent dat diegene die de licentie verleent aan een
        licentienemer, de eigenaar van de rechten blijft. Bij een licentie is er geen eigendomsoverdracht van de
        licentiegever aan de licentienemer. <br>
        <strong>“naburige rechten”</strong>: de wet van 30 juni 1994 betreffende het auteursrecht en naburige rechten
        verleent exclusieve (vermogens- en morele) rechten aan uitvoerende kunstenaars (bv. een zanger, een acteur) en
        exclusieve vermogensrechten aan geluids- en filmproducenten en omroeporganisaties. <br>
        <strong>“morele rechten”</strong>: naast vermogensrechten beschikt een auteur ook over morele rechten, waaronder
        het recht op naamsvermelding en recht op eerbied voor het werk. In tegenstelling tot de vermogensrechten kunnen
        ze niet worden overgedragen of in licentie worden gegeven. <br>
        <strong>“niet-exclusieve licentie”</strong>: niet-exclusieve licentie betekent dat diegene die de licentie
        verleent (licentiegever) aan een contractpartner (licentienemer) én zelf de eigen gegevensbestanden en eigen
        gegevens blijft gebruiken én dat hij met nog andere derden omtrent deze eigen gegevensbestanden en eigen
        gegevens niet-exclusieve licenties kan blijven sluiten. <br>
        <strong>“opvraging”</strong>: de permanente of tijdelijke overbrenging van de inhoud van een databank of van een
        substantieel deel ervan op een andere drager (bv. een andere databank), ongeacht op welke wijze en in welke
        vorm, (Wet van 31 augustus 1998 houdende omzetting in Belgisch recht van de Europese richtlijn van 11 maart 1996
        betreffende de rechtsbescherming van databanken). <br>
        <strong>“recht op afbeelding”</strong>: de auteur of de eigenaar van een portret dan wel enige andere persoon
        die een portret bezit of voorhanden heeft, heeft niet het recht het te reproduceren of aan het publiek mede te
        delen zonder toestemming van de geportretteerde of, gedurende twintig jaar na diens overlijden, zonder
        toestemming van zijn rechtverkrijgenden (artikel 10 van de Wet van 30 juni 1994 betreffende het auteursrecht en
        naburige rechten). <br>
        <strong>“vermogensrechten”</strong>: exclusieve rechten van de auteur die kunnen worden overgedragen of in
        licentie worden gegeven <br>
        <strong>“vrijwaring”</strong>: vrijwaring betekent dat men uitdrukkelijk de verantwoordelijkheid opneemt voor
        iets of iemand. <br>
        <strong>“webservices”</strong>: deze term beschrijft een manier om functies en data aan te bieden via het
        internet aan externe IT-systemen. De onderliggende technologieën van webservices zijn open standaarden (zoals
        json en REST). Dit maakt het mogelijk webservices te gebruiken over verschillende types van platformen en types
        van databanken heen wat natuurlijk erg flexibel is. <br>
        <strong>“publicatiekanalen”</strong>: onder publicatiekanaal verstaan we het medium tussen de verzender en de
        ontvanger van een boodschap.</p>
</div>