<div class="udb3-copyright">
    <h1>Auteursrecht</h1>

    <p><strong>Wat doet CultuurNet Vlaanderen met foto's die ik upload?</strong></p>

    <p>Indien de foto auteursrechtelijk beschermd is, dient de naam van de maker te worden vermeld in het
        copyright-veld. De
        foto's moeten rechtenvrij zijn. De ingevoerde foto’s kunnen door CultuurNet Vlaanderen gebruikt worden voor
        publicatie op de website of in promotie- en perscampagnes. CultuurNet Vlaanderen behoudt zich het recht om op de
        verzamelde afbeeldingen een fotoredactie uit te voeren. De foto's worden ook opgenomen in het fotoarchief van
        CultuurNet Vlaanderen en kunnen gebruikt worden in de communicatiekanalen van CultuurNet Vlaanderen zoals de
        website, nieuwsbrieven, perscommunicatie,…</p>

    <p><strong>Welke soorten werk zijn onderworpen aan het auteursrecht?</strong></p>

    <p>Wanneer een persoon een origineel werk creëert, dat is vastgelegd in een fysiek medium (bv een foto), bezit hij
        of zij automatisch auteursrecht op het werk.</p>

    <p>Auteursrechten geven de eigenaar het exclusieve recht om het werk te gebruiken in bepaalde, specifieke manieren.
        Veel soorten werken komen in aanmerking voor auteursrechtelijke bescherming, inclusief:</p>

    <ol>
        <li>Audiovisuele werken, zoals foto's, tv-shows, films en online video's</li>
        <li>Geluidsopnamen en muzikale composities</li>
        <li>Geschreven werken, zoals lezingen, artikelen, boeken, en muzikale composities</li>
        <li>Visuele werken, zoals schilderijen, affiches en advertenties</li>
        <li>Video games en computersoftware</li>
        <li>Dramatische werken, zoals toneelstukken en musicals</li>
    </ol>

    <p>Ideeën, feiten en processen zijn niet onderworpen aan het auteursrecht. Om in aanmerking te komen voor
        auteursrechtelijke bescherming, moet een werk zowel creatief zijn als gevat in een tastbaar medium. Namen en
        titels zijn, op zichzelf, niet beschermd door het auteursrecht.</p>

    <p><strong>Is het mogelijk om een auteursrechtelijk beschermd werk te gebruiken zonder inbreuk te plegen op de
            regelgeving terzake?</strong></p>

    <p>In sommige omstandigheden is het mogelijk om een auteursrechtelijk beschermd werk te gebruiken zonder inbreuk op
        het
        copyright van de eigenaar. Toch ga je er best van uit dat die mogelijkheid niet bestaat, tenzij je
        uitdrukkelijke
        toestemming hebt van de eigenaar. De Beheerder kan in geen geval in jouw plaats bepalen of auteursrechtelijke
        bescherming al dan niet van toepassing is.</p>

    <p><strong>Het is belangrijk op te merken dat jouw upload van audiovisueel materiaal voorwerp kan zijn van een een
            claim
            van inbreuk op auteursrechten, zelfs als je:</strong></p>

    <ol>
        <li>de eigenaar van het auteursrecht vermeldt</li>
        <li>geen winstoogmerk nastreeft bij het gebruik van het materiaal</li>
        <li>hetzelfde of gelijkaardig materiaal elders gebruikt zag</li>
        <li>het audiovisueel materiaal aankocht (online, in een boek, op cd, dvd,...)</li>
        <li>het materiaal zelf opnam of kopieerde van een boek, tijdschrift, krant, tv, een bioscoop, de radio</li>
        <li>verklaarde dat "er geen inbreuk op het auteursrecht bedoeld is"</li>
    </ol>

    <p><strong>Kan de Beheerder bemiddelen bij auteursrecht-disputen?</strong></p>

    <p>Nee, de Beheerder is niet in staat om te bemiddelen bij auteursrecht-disputen.
        Wanneer de Beheerder een eis tot verwijdering van met auteursrecht beschermd materiaal ontvangt, zal het daar
        steeds
        meteen aan voldoen en tevens de onrechtmatige invoerder/uploader onverwijld wijzen op zijn inbreuk. Vervolgens
        is
        het aan de betrokken partijen (rechtenhouder enerzijds en invoerder/uploader anderzijds) om het dispuut
        onderling te
        regelen, hetzij via minnelijke schikking, hetzij via rechtspraak.</p>

    <p><strong>Wat is het verschil tussen auteursrecht en privacy?</strong></p>

    <p>Het is niet omdat je zelf verschijnt op een foto, in een video of audio-opname dat je het copyright erop
        bezit.</p>

    <p>Als bijvoorbeeld een vriend een gesprek tussen jou beide filmt, dan zou het de vriend zijn die over het copyright
        beschikt en niet jijzelf. De woorden die in dat gesprek gebruikt worden, zijn niet onderworpen aan een
        afzonderlijk
        copyright dan dat van de video zelf, tenzij ze vooraf werden opgesteld. Als je vriend, of iemand anders, een
        video
        of afbeelding heeft geüpload met daarin een afbeelding of opname van jezelf zonder jouw toestemming, en je voelt
        dit
        aan als een inbreuk op je privacy of veiligheid, dan kan je daarom een privacy-klacht indienen.</p>

    <p><strong>Waar en hoe kan je op het internet meer zekerheid rond rechtenvrij fotomateriaal vinden?</strong></p>

    <p>Vooreerst: vermijd Google Images. Je komt uit bij een eindeloze reeks beelden waarvan je niet zeker weet of ze
        weergeven wie of wat je zocht, en waar je zelden de rechten op kan vinden. Je kan wel via ‘geavanceerd zoeken’
        op
        zoek gaan naar herbruikbare afbeeldingen, maar zekerheid biedt dat allerminst.</p>

    <p>Betrouwbaarder op dit vlak is Flickr.com: de Creative Commons-zoekoptie filtert herbruikbare afbeeldingen uit het
        ruime aanbod. Geef een zoekterm op, klik daarna op ‘advanced search’, ga onderaan die pagina naar ‘creative
        commons’
        en vink het vakje ‘Only search within Creative Commons licensed content’ aan. De resultaten die je dan nog
        overhoudt, vormen de vijver waaruit je kan kiezen. Je moet wel de regels respecteren: als je de beelden wil
        gebruiken, moet je linken naar de bron en het copyright vermelden.</p>
</div>